[Unit]
Description=Fan Control Service for Dell PowerEdge Servers
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env ipmi_fan_control -v 0 -s /etc/fan_speeds.cfg

[Install]
WantedBy=multi-user.target